*

{
  margin:0;
  padding:0;
}

header
{
  height:10vh;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

header .row {
  display: flex;
  justify-content: space-between;
}

.main-nav
{
  list-style: none;
  margin-top: 40px;
}

.main-nav li
{
  display:inline-block;
}

.main-nav li a
{
  color:white;
  text-decoration:none;
  padding: 5px 20px;
  font-family:"Roboto", sans-serif;
  font-size:15px;
}
