*
{
  margin:0;
  padding:0;
}

header
{
  height:10vh;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

header .row {
  display: flex;
  justify-content: space-between;
}

.main-nav
{
  list-style: none;
  margin-top: 40px;
}

.main-nav li
{
  display:inline-block;
}

.main-nav li a
{
  color:white;
  text-decoration:none;
  padding: 5px 20px;
  font-family:"Roboto", sans-serif;
  font-size:15px;
}

body{
  position: relative;
background-color: black;

}

#logo
{
  font-family: 'Plaster', cursive;
  font-size: 40px;
  float: left;
  color: white;
  margin-left: 40px;
  margin-top: 20px;
}

#welcome
{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(gig.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding: auto 0;
  width: 100%;
  height: 400px;
  text-align: center;
}

#welcome p {
  margin-top: 180px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 60px;
}

#about {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  padding: 50px 5% 300px 5%;
}

#about li {
  width: 30%;
  border: 1px solid purple;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

#parent {
  margin-top: 470px;
  position: absolute;
  width: 100%;
}

#content {
  position: relative;
  height: 100%;
  width: 100%;
}



#gallery
{
  box-sizing: border-box;

}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
  position: relative;
  color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





#Newsletter
.form  {

margin-top: 300px
      border: 4px solid #f1f1f1;


  }

  /* Add some padding and a grey background color to containers */
  .container2 {
      padding: 20px;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      width: 25em;
      color: white;

  }

h2{
  font-family: fantasy;
}
p{font-family: sans-serif;}
label{font-family: sans-serif;}

  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      background: black;
      color: white;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;

  }

  /* Add margins to the checkbox */
  input[type=checkbox] {
      margin-top: 16px;
      color: white;
  }

  .checkbox-text p {
    color: black;
  }

  /* Style the submit button */
  input[type=submit] {
      background-color: #4CAF50;
      color: white;
      border: none;
  }

  input[type=submit]:hover {
      opacity: 0.8;
  }
}
